.all {
    background-image: url('./components/images/Background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    height: 100%;
}
    @media (max-width: 800px) {
      .all {
        background-image: none;
        background-size: contain;
        background-color: #f9d3bc;
      }
    }

.App-header {
    /*min-height: 100vh;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*font-size: calc(10px + 2vmin);*/
}
.container {
    margin-top: 64px;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: row;
    /*justify-content: center;*/
    /*align-items: center;*/
    min-height: 90vh;
    background-color: #fdf1ea;
}

.left-column {
    /*text-align: center;*/
    flex: 1;
}

.right-column {
    margin-top: inherit;
    flex: 3;
}

.radio-group-container {
    max-height: 200px;
    overflow-y: auto;
}
.show-box{
    margin-top: 40px;
    margin-left: 40px;
}
.align-center {
    justify-self: center;
    align-self: center;
}





